<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.evcs.admin.carInfo.model.dao.CarInfoMapper">

	<select id="findByCarName"
				parameterType="CarInfo"
				resultType="int">
		SELECT 
				COUNT(*)		   
	  	  FROM
	  	 		EV_CAR_INFO
	  	 WHERE
	  	 		CAR_NAME = #{carName}
	</select>
	
	<insert id="insertCar"
				parameterType="CarInfo">
		INSERT 
		  INTO 
	  			EV_CAR_INFO(
				    CAR_NAME
				  , CAR_TYPE
				  , CAR_YEAR
				  , CAR_COMPANY
				  , CAR_BATTERY
				)
	  			VALUES(
				    #{carName}
				  , #{carType}
				  , #{carYear}
				  , #{carCompany}
				  , #{carBattery}
				)
	</insert>
	
	<select id="findCarNoByCarName"
				parameterType="CarInfo"
				resultType="int">
		SELECT 
				CAR_NO carNo		   
	  	  FROM
	  	 		EV_CAR_INFO
	  	 WHERE
	  	 		CAR_NAME = #{carName}
	</select>
	
	<insert id="insertCarImage"
				parameterType="com.example.evcs.admin.carInfo.model.vo.CarImage">
		INSERT 
		  INTO 
	  			EV_CAR_IMAGE
	  			VALUES(
					#{carNo}
				  , #{fileLoad}
				)
	</insert>
	
	<select id="countAllCar"
				resultType="int">
		SELECT
			   COUNT(*)
		  FROM
		  	   EV_CAR_INFO
	</select>
	
	<select id="findAllCar"
				resultType="CarInfoDTO">
		SELECT
			    CAR_NO  carNo,
		        CAR_NAME  carName,
		        CAR_TYPE  carType,
		        CAR_YEAR  carYear,
		        CAR_COMPANY  carCompany,
		        CAR_BATTERY  carBattery,
		        ENROLL_DATE  enrollDate
		  FROM
		  	   EV_CAR_INFO
		 ORDER
		 	BY
		 	   ENROLL_DATE DESC 
	</select>
	
	<select id="getAllCarInfo"
				resultType="CarInfoDTO">
		SELECT
			    CAR_NO  carNo,
		        CAR_NAME  carName,
		        CAR_TYPE  carType,
		        CAR_YEAR  carYear,
		        CAR_COMPANY  carCompany,
		        CAR_BATTERY  carBattery,
		        ENROLL_DATE  enrollDate
		  FROM
		  	   EV_CAR_INFO
		 ORDER
		 	BY
		 	   CAR_NO DESC 
	</select>
	
	<select id="getAllCarImage"
				resultType="com.example.evcs.admin.carInfo.model.vo.CarImage">
		SELECT
			   CAR_NO carNo,
			   FILE_LOAD fileLoad
		  FROM
		  	   EV_CAR_IMAGE
		 ORDER
		    BY
		       CAR_NO DESC
	</select>
	
	
	
	<select id="findImageByCarName"
				parameterType="CarInfo"
				resultType="com.example.evcs.admin.carInfo.model.dto.CarImageDTO">
		SELECT
			    T2.FILE_LOAD fileLoad
		  FROM
		  	   EV_CAR_INFO T1
		  JOIN
		  	   EV_CAR_IMAGE T2 ON (T1.CAR_NO = T2.CAR_NO)
		 WHERE
		 	   T1.CAR_NAME = #{carName}

	</select>
	
	<select id="findCarByCarNo"
				parameterType="CarInfoDTO"
				resultType="int">
		SELECT
				COUNT(*)
		  FROM
		  		EV_CAR_INFO
		 WHERE
		 		CAR_NO = #{carNo}
	</select>
	
	<update id="updateCar"
				parameterType="CarInfo">
		UPDATE
				EV_CAR_INFO
		   		SET
					CAR_NAME = #{carName}
				  , CAR_TYPE = #{carType}
				  , CAR_YEAR = #{carYear}
				  , CAR_COMPANY = #{carCompany}
				  , CAR_BATTERY = #{carBattery}
				
		 WHERE
		 		CAR_NO = #{carNo}			
	</update>
	
	<update id="updateCarImage"
				parameterType="com.example.evcs.admin.carInfo.model.vo.CarImage">
		UPDATE
				EV_CAR_IMAGE
		   		SET
					FILE_LOAD = #{fileLoad}
		 WHERE
		 		CAR_NO = #{carNo}			
	</update>
	

	<delete id="deleteCar"
				parameterType="CarInfo">
		DELETE
		  FROM
		  		EV_CAR_INFO
		 WHERE
		 		CAR_NO = #{carNo}
	</delete>	
	
	<delete id="deleteCarImage"
				parameterType="int">
		DELETE
		  FROM
		  		EV_CAR_IMAGE
		 WHERE
		 		CAR_NO = #{carNo}
	</delete>	
	
	
	<select id="selectAllCarInfo"
			parameterType="map"
			resultType="CarInfoDTO">
		SELECT
			      CI.CAR_NO  carNo
		        , CI.CAR_NAME  carName
		        , CI.CAR_YEAR  carYear
		        , CI.CAR_BATTERY  carBattery
		        , TO_CHAR(CI.ENROLL_DATE, 'YYYY-MM-DD')  returnEnrollDate
		        , CC.COMPANY_NAME  companyName
		        , CC.COMPANY_NO companyNo
		        , CT.CAR_TYPE_NAME  carTypeName
		        , CT.CAR_TYPE_NO  carTypeNo
		        , I.FILE_LOAD fileLoad
		  FROM
		  	   EV_CAR_INFO CI
		  LEFT 
		  	JOIN 
		  		EV_CAR_TYPE CT
		  	ON
		  		(CI.CAR_TYPE_NO = CT.CAR_TYPE_NO)
		  LEFT 
		  	JOIN 
		  		EV_CAR_COMPANY CC
		  	ON
		  		(CI.COMPANY_NO = CC.COMPANY_NO)
	  	  LEFT 
		  	JOIN 
		  		EV_CAR_IMAGE I
		  	ON
		  		(I.CAR_NO = CI.CAR_NO)
		 WHERE 1=1
		 <if test="carTypeNo != null and carTypeNo != ''">
		 	AND CT.CAR_TYPE_NO = #{carTypeNo}
		 </if>
		 <if test="carCompanyNo != null and carCompanyNo != ''">
		 	AND CC.COMPANY_NO = #{carCompanyNo}
		 </if>
		 <if test="searchKeyword != null and searchKeyword != ''">
		 	AND UPPER(CI.CAR_NAME) LIKE '%' || UPPER(#{searchKeyword}) || '%'
		 </if>
		 ORDER
		 	BY
		 	   ENROLL_DATE DESC 
	</select>
	
	<select id="selectAllCarCompanyInfo"
			resultType="CarCompanyDTO"
	>
		SELECT
			  COMPANY_NO companyNo
			, COMPANY_NAME companyName
		FROM
			EV_CAR_COMPANY
	</select>
	
	<select id="selectAllCarTypeInfo"
			resultType="CarTypeDTO"
	>
		SELECT
			  CAR_TYPE_NO carTypeNo
			, CAR_TYPE_NAME carTypeName
		FROM
			EV_CAR_TYPE
	</select>
	
</mapper>











