<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.evcs.admin.carInfo.model.dao.CarInfoMapper">

	<select id="findByCarName"
				parameterType="CarInfo"
				resultType="int">
		SELECT 
				COUNT(*)		   
	  	  FROM
	  	 		EV_CAR_INFO
	  	 WHERE
	  	 		CAR_NAME = #{carName}
	</select>
	
	<insert id="insertCar"
				parameterType="CarInfo">
		INSERT 
		  INTO 
	  			EV_CAR_INFO(
				    CAR_NAME
				  , CAR_TYPE
				  , CAR_YEAR
				  , CAR_COMPANY
				  , CAR_BATTERY
				)
	  			VALUES(
				    #{carName}
				  , #{carType}
				  , #{carYear}
				  , #{carCompany}
				  , #{carBattery}
				)
	</insert>
	
	<select id="findCarNoByCarName"
				parameterType="CarInfo"
				resultType="int">
		SELECT 
				CAR_NO carNo		   
	  	  FROM
	  	 		EV_CAR_INFO
	  	 WHERE
	  	 		CAR_NAME = #{carName}
	</select>
	
	<insert id="insertCarImage"
				parameterType="com.example.evcs.admin.carInfo.model.vo.CarImage">
		INSERT 
		  INTO 
	  			EV_CAR_IMAGE
	  			VALUES(
					#{carNo}
				  , #{fileLoad}
				)
	</insert>
	
	<select id="countAllCar"
				resultType="int">
		SELECT
			   COUNT(*)
		  FROM
		  	   EV_CAR_INFO
	</select>
	
	<select id="findAllCar"
				resultType="CarInfoDTO">
		SELECT
			    CAR_NO  carNo,
		        CAR_NAME  carName,
		        CAR_TYPE  carType,
		        CAR_YEAR  carYear,
		        CAR_COMPANY  carCompany,
		        CAR_BATTERY  carBattery,
		        ENROLL_DATE  enrollDate
		  FROM
		  	   EV_CAR_INFO
		 ORDER
		 	BY
		 	   ENROLL_DATE DESC 
	</select>
	
	<select id="findImageByCarName"
				parameterType="CarInfo"
				resultType="com.example.evcs.admin.carInfo.model.dto.CarImageDTO">
		SELECT
			    T2.FILE_LOAD fileLoad
		  FROM
		  	   EV_CAR_INFO T1
		  JOIN
		  	   EV_CAR_IMAGE T2 ON (T1.CAR_NO = T2.CAR_NO)
		 WHERE
		 	   T1.CAR_NAME = #{carName}

	</select>
	
	<select id="findCarByCarNo"
				parameterType="CarInfoDTO"
				resultType="int">
		SELECT
				COUNT(*)
		  FROM
		  		EV_CAR_INFO
		 WHERE
		 		CAR_NO = #{carNo}
	</select>
	
	<update id="updateCar"
				parameterType="CarInfo">
		UPDATE
				EV_CAR_INFO
		   		SET
					CAR_NAME = #{carName}
				  , CAR_TYPE = #{carType}
				  , CAR_YEAR = #{carYear}
				  , CAR_COMPANY = #{carCompany}
				  , CAR_BATTERY = #{carBattery}
				
		 WHERE
		 		CAR_NO = #{carNo}			
	</update>
	
	<update id="updateCarImage"
				parameterType="com.example.evcs.admin.carInfo.model.vo.CarImage">
		UPDATE
				EV_CAR_IMAGE
		   		SET
					FILE_LOAD = #{fileLoad}
		 WHERE
		 		CAR_NO = #{carNo}			
	</update>
	

	<delete id="deleteCar"
				parameterType="CarInfo">
		DELETE
		  FROM
		  		EV_CAR_INFO
		 WHERE
		 		CAR_NO = #{carNo}
	</delete>	
	
	<delete id="deleteCarImage"
				parameterType="int">
		DELETE
		  FROM
		  		EV_CAR_IMAGE
		 WHERE
		 		CAR_NO = #{carNo}
	</delete>	
	
</mapper>











