<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.evcs.admin.carInfo.model.dao.CarInfoMapper">

	<insert id="insertCar">
		INSERT 
				INTO 
	  CAR_INFO
	  			VALUES(
					#{carId}
				  , #{carName}
				  , #{carCategory}
				  , #{carYear}
				  , #{carCompany}
				  , #{carBattery}
				  , #{imageUrl}
				)
	</insert>
</mapper>