<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.evcs.admin.carInfo.model.dao.CarInfoMapper">

	<select id="findByCarName"
				parameterType="CarInfo"
				resultType="int">
		SELECT 
				COUNT(*)		   
	  	  FROM
	  	 		CAR_INFO
	  	 WHERE
	  	 		CAR_NAME = #{carName}
	</select>
	
	<insert id="insertCar"
				parameterType="CarInfo">
		INSERT 
		  INTO 
	  			CAR_INFO(
				    CAR_NAME
				  , CAR_TYPE
				  , CAR_YEAR
				  , CAR_COMPANY
				  , CAR_BATTERY
				)
	  			VALUES(
				    #{carName}
				  , #{carType}
				  , #{carYear}
				  , #{carCompany}
				  , #{carBattery}
				)
	</insert>
	
	<select id="findCarNoByCarName"
				parameterType="CarInfo"
				resultType="int">
		SELECT 
				CAR_NO carNo		   
	  	  FROM
	  	 		CAR_INFO
	  	 WHERE
	  	 		CAR_NAME = #{carName}
	</select>
	
	<insert id="insertCarImage"
				parameterType="com.example.evcs.admin.carInfo.model.vo.CarImage">
		INSERT 
		  INTO 
	  			CAR_IMAGE
	  			VALUES(
					#{carNo}
				  , #{fileLoad}
				)
	</insert>
	
	<select id="countAllCar"
				resultType="int">
		SELECT
			   COUNT(*)
		  FROM
		  	   CAR_INFO
	</select>
	
	<select id="findAllCar"
				resultType="com.example.evcs.admin.carInfo.model.dto.CarInfoDTO">
		SELECT
			   *
		  FROM
		  	   CAR_INFO
	</select>
	
	
</mapper>











