<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.example.evcs.member.model.dao.MemberMapper">
	  <insert id="signUp">
		  INSERT INTO EV_MEMBER (
		    MEMBER_NO,
		    EMAIL,
		    MEMBER_PW,
		    MEMBER_NICKNAME
		  ) VALUES (
		    EV_MEMBER_SEQ_NO.NEXTVAL,
		    #{email},
		    #{memberPw},
		    #{memberNickname}
		  )
	</insert>
	
	<select id="isVerified">
		  SELECT VERIFIED
		  FROM EV_EMAIL_VERIFICATION
		  WHERE EMAIL = #{email}
	</select>

	<select id="isVerifiedByPassword">
		  SELECT VERIFIED
		  FROM EV_PASSWORD_RESET_VERIFICATION
		  WHERE EMAIL = #{email}
	</select>
	
	
	<select id="getMemberByEmail">
		SELECT MEMBER_NO as memberNo,
		       EMAIL as email,
		       MEMBER_PW as memberPw,
		       EMAIL_VERIFIED as emailVerified,
		       MEMBER_NICKNAME as memberNickname,
		       ROLE as role,
               MEMBER_STATUS as memberStatus,
		       CREATED_AT as createdAt
		FROM EV_MEMBER
		WHERE EMAIL = #{email}
	</select>

	
	
	<select id="getEmailVerificationStatus">
	    SELECT EMAIL_VERIFIED
	    FROM EV_MEMBER
	    WHERE EMAIL = #{email}
	</select>

   
   <update id="updatePassword">
   		UPDATE EV_MEMBER
   		SET MEMBER_PW = #{encodedPassword}
   		WHERE EMAIL = #{email}
   </update>
  
  <update id="changePassword">
  		UPDATE EV_MEMBER
  		SET MEMBER_PW = #{memberPw}
  		WHERE EMAIL = #{email}
  </update>
  
 <select id="getMemberByMemberNo">
        SELECT 
            MEMBER_NO as memberNo,
            EMAIL as email,
            MEMBER_PW as memberPw,
            MEMBER_NICKNAME as memberNickname,
            ROLE as role,
            EMAIL_VERIFIED as emailVerified,
            MEMBER_STATUS as memberStatus,
            CREATED_AT as createdAt
        FROM 
            EV_MEMBER
        WHERE 
            MEMBER_NO = #{memberNo}
    </select>
    
    
    <update id="updateMemberStatus">
	    UPDATE EV_MEMBER
	    SET MEMBER_STATUS = #{status}
	    WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<update id="updateMemberStatusToRemoved">
		UPDATE EV_MEMBER 
		SET MEMBER_STATUS = 'R' 
		WHERE MEMBER_NO = #{memberNo}
	</update>
  
  </mapper>
  
  