<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.example.evcs.news.model.dao.NewsReactionMapper">
  
	<select id="countLikeByNews" parameterType="long" resultType="int">
	    SELECT COUNT(*) FROM EV_NEWS_LIKE WHERE NEWS_NO = #{newsNo}
	</select>
	
	<select id="countHateByNews" parameterType="long" resultType="int">
	    SELECT COUNT(*) FROM EV_NEWS_HATE WHERE NEWS_NO = #{newsNo}
	</select>
	
	<select id="hasLiked" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM EV_NEWS_LIKE WHERE NEWS_NO = #{newsNo} AND MEMBER_NO = #{memberNo}
	</select>
	
	<insert id="insertLike" parameterType="map">
	    INSERT INTO EV_NEWS_LIKE (NEWS_NO, MEMBER_NO) VALUES (#{newsNo}, #{memberNo})
	</insert>
	
	<delete id="deleteLike" parameterType="map">
	    DELETE FROM EV_NEWS_LIKE WHERE NEWS_NO = #{newsNo} AND MEMBER_NO = #{memberNo}
	</delete>
	
	<select id="hasHated" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM EV_NEWS_HATE WHERE NEWS_NO = #{newsNo} AND MEMBER_NO = #{memberNo}
	</select>
	
	<insert id="insertHate" parameterType="map">
	    INSERT INTO EV_NEWS_HATE (NEWS_NO, MEMBER_NO) VALUES (#{newsNo}, #{memberNo})
	</insert>
	
	<delete id="deleteHate" parameterType="map">
	    DELETE FROM EV_NEWS_HATE WHERE NEWS_NO = #{newsNo} AND MEMBER_NO = #{memberNo}
	</delete>
	
	<insert id="insertComment" parameterType="map">
	    INSERT INTO EV_NEWS_CMT (NEWS_CMT_ID, NEWS_NO, MEMBER_NO, NEWS_CMT_PARENT_ID, NEWS_CMT_CONTENT, NEWS_CMT_DATE, NEWS_CMT_MODIFY_DATE, NEWS_CMT_STATUS)
	    VALUES (NEWS_CMT_SEQ.NEXTVAL, #{newsNo}, #{memberNo}, NULL, #{content}, SYSDATE, SYSDATE, 'Y')
	</insert>
	
	<select id="countUserComments" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM EV_NEWS_CMT WHERE NEWS_NO = #{newsNo} AND MEMBER_NO = #{memberNo} AND NEWS_CMT_STATUS = 'Y'
	</select>
	
	<select id="countBookmarks" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM EV_NEWS_BOOKMARK WHERE NEWS_NO = #{newsNo} AND MEMBER_NO = #{memberNo}
	</select>
	
	<insert id="insertBookmark" parameterType="map">
	    INSERT INTO EV_NEWS_BOOKMARK (NEWS_NO, MEMBER_NO) VALUES (#{newsNo}, #{memberNo})
	</insert>
	
	<delete id="deleteBookmark" parameterType="map">
	    DELETE FROM EV_NEWS_BOOKMARK WHERE NEWS_NO = #{newsNo} AND MEMBER_NO = #{memberNo}
	</delete>
  
  </mapper>
  
  